@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Global Style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 33, 61);
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/*Heading and logo*/
h1 {
    letter-spacing: 3px;
    font-size: 200%;
}

#logo {
    justify-content: space-between;
    width: 100%;
    max-width: fit-content;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    flex: auto;
    margin: auto;
}